include/contrib/* linguist-vendored
include/contrib/AMSC/* linguist-vendored
include/contrib/ngl/* linguist-vendored
src/contrib/* linguist-vendored
crow/contrib/* linguist-vendored
crow/contrib/include/Eigen/* linguist-vendored
crow/contrib/include/boost/* linguist-vendored
framework/contrib/* linguist-vendored
tests/framework/CodeInterfaceTests/* linguist-vendored
